<!DOCTYPE html>
<html>
    <head>
        <title>User Form</title>
    </head>
    <body>
        <form action="/submit" method="POST">
            <label for="">Name :</label>
            <input type="text" name="username" required>
            <br><br>
            <label for="">Email :</label>
            <input type="text" name="email" required>
            <br><br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>